<h3>Home</h3>


<ul>Top 3 Companies (Avg. Interest Level)
  <% @jobs.top_three.each do |info| %>
  <li class="sub-details">
    <%= info[:name] %> (<%= info[:avg_interest] %>)
  </li>
  <% end %>
</ul>

<ul>Locations
  <% @jobs.locations.each do |location| %>
  <li class="sub-details long-list">
    <%= link_to location[:city], "/jobs?location=#{location[:city]}" %> - <%= location[:job_count] %> job(s)
  </li>
  <% end %>
</ul>

<ul>Interest Level - Job Count
  <% @jobs.interest_counts.each do |interest| %>
  <li class="sub-details long-list">
    Interest Level <%= interest[:level] %> - <%= interest[:job_count] %> job(s)
  </li>
  <% end %>
</ul>
