<h3>All Jobs at <%= link_to @company.name, company_path(@company), class: "header_link" %></h3>

<% @jobs.each do |job| %>
  <ul>
    <li>
      <%= link_to job.title, company_job_path(@company, job), class: "link title_link" %>
      <%= link_to "Edit", edit_company_job_path(@company, job), class: "link edit_link" %>
      <%= link_to "Delete", company_job_path(@company, job), method: :delete, method: :delete, class: "link delete_link" %>
    </li>
  </ul>

<% end %>

<%= render partial: 'contacts/index', class: "contacts-section" %>
<%= render partial: 'contacts/form' %>
